{% extends 'IESys_/base.html' %}

{% block context %}
    <p>这是支出页面</p>

    {% if form.errors %}
        <div id='error-msg' style="color: red; margin-top: 5px;">
            {% for error in form.expenditure_amount.errors %}
                {{ error }}
            {% endfor %}
        </div>

        <script>
            setTimeout(function() {
                var msg = document.getElementById('error-msg');
                if (msg) {
                    msg.style.display = 'none';
                }
            }, 3000);
        </script>
    {% endif %}

    <form action="{% url 'IESys_:expenditure' %}" method="POST">
        {% csrf_token %}

        <select name="expenditure" style="padding: 8px;">
            <option value="饮食支出">饮食支出</option>
            <option value="零食支出">零食支出</option>
            <option value="交通支出">交通支出</option>
            <option value="生活支出">生活支出</option>
            <option value="网购支出">网购支出</option>
            <option value="兴趣支出">兴趣支出</option>
            <option value="其他支出">其他支出</option>
        </select>

        {{ form.expenditure_amount }}
        <button name="submit">提交</button>
    </form>

    <p><a href="{% url 'IESys_:ie' %}">返回收支页面</a></p>
    
    {% if messages %}
        {% for message in messages %}
            <div id="msg" style="color: green; padding: 10px; border: 1px solid green; margin-bottom: 15px;">
            {{ message }}
            </div>
        {% endfor %}
        <script>
        setTimeout(function() {
            var msg = document.getElementById('msg');
            if (msg) {
                msg.style.display = 'none';
            }
        }, 1000); 
        </script>
    {% endif %}
{% endblock context %}